/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* primitive color tokens */
    --color-base-black: black;
    --color-base-white: white;

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --color-neutral-50: #fafafa;
    --color-neutral-100: #f5f5f5;
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #a3a3a3;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #171717;
    --color-neutral-950: #0a0a0a;

    --color-amber-50: #fffbeb;
    --color-amber-100: #fef3c7;
    --color-amber-200: #fde68a;
    --color-amber-300: #fcd34d;
    --color-amber-400: #fbbf24;
    --color-amber-500: #f59e0b;
    --color-amber-600: #d97706;
    --color-amber-700: #b45309;
    --color-amber-800: #92400e;
    --color-amber-900: #78350f;
    --color-amber-950: #451a03;

    /* theme */
    --color-foreground-primary: var(--color-neutral-800);
    --color-foreground-secondary: var(--color-neutral-600);
    --color-foreground-tertiary: var(--color-neutral-400);

    --color-background-primary: var(--color-base-white);
    --color-background-secondary: var(--color-neutral-100);
    --color-background-tertiary: var(--color-neutral-200);

    --color-border-light: var(--color-neutral-200);
    --color-border-medium: var(--color-neutral-400);
    --color-border-strong: var(--color-neutral-600);
    --color-border-focus: var(--color-amber-300);
    --color-border-interactive-enable: var(--color-neutral-200);
    --color-border-interactive-hover: var(--color-neutral-400);
    --color-border-interactive-press: var(--color-neutral-600);
  }

  .dark {
    /** Global semantic color tokens */
    --color-foreground-primary: var(--color-neutral-100);
    --color-foreground-secondary: var(--color-neutral-300);
    --color-foreground-tertiary: var(--color-neutral-500);

    --color-background-primary: var(--color-neutral-900);
    --color-background-secondary: var(--color-neutral-700);
    --color-background-tertiary: var(--color-neutral-500);

    --color-border-light: var(--color-neutral-600);
    --color-border-medium: var(--color-neutral-400);
    --color-border-strong: var(--color-neutral-200);
    --color-border-focus: var(--color-amber-600);
    --color-border-interactive-enable: var(--color-neutral-600);
    --color-border-interactive-hover: var(--color-neutral-400);
    --color-border-interactive-press: var(--color-neutral-200);
  }
}

html {
  background-color: var(--color-background-primary); /* color when overscroll */
}
